<header class="header">
  <div class="container">
    <a routerLink="/" class="logo">Hungarian Fine Dining</a>

    <nav class="nav">
      <ul class="nav-list">
        <li *ngIf="!isAuth" class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>

        <li *ngIf="isAuth" class="nav-item menu-container">
          <a routerLink="/dashboard" class="nav-link user-link">
            {{user.name}}
          </a>

          <div class="menu">
            <a routerLink="/profile" class="menu-link">Profile</a>
            <a routerLink="/orders" class="menu-link">Orders</a>
            <a (click)="logout()" class="menu-link">Logout</a>
          </div>
        </li>

        <li class="nav-item">
          <a routerLink="/cart-page" class="nav-link cart-link">
            Cart
            <span *ngIf="cartQuantity" class="cart-badge">{{cartQuantity}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>